**Descriptive Statistics - Measures of Central Tendency and variability**

In [ ]:
import numpy as np
import pandas as pd
from math import sqrt

data = pd.read_csv("/content/income.csv")
data.head()

   age  income  education_num
0   39   77516             13
1   50   83311             13
2   38  215646              9
3   53  234721              7
4   28  338409             13

In [ ]:
mean = np.mean(data["age"])
print(mean)

38.64358543876172

In [ ]:
median = np.median(data["age"])
print(median)

37.0

In [ ]:
from statistics import mode
print("Mode is: ", mode(data["age"]))

Mode is:  36

In [ ]:
import numpy as np
x = [2,4,6,7,20,10,22]
y = np.array(data['age'])
data['age'].min()

17

In [ ]:
data['age'].max()

90

In [ ]:
variance = data['age'].var()
print(variance)

187.97808266246506

In [ ]:
std = sqrt(variance)
print(std)

13.710509934443177

In [ ]:
gk = data.groupby('age')
gk.first()

     income  education_num
age
17   304873              6
18   226956              9
19   168294              9
20   266015             10
21   197200             10
..      ...            ...
86   149912             14
87    90338              9
88   206291             15
89   152839             13
90    51744              9

[74 rows x 2 columns]

In [ ]:
gkk = data.groupby(['age', 'income'])
gkk.first()

            education_num
age income
17  19752               7
    23856               7
    24090               9
    25051               6
    25690               6
...                   ...
90  282095             10
    311184             13
    313749             13
    313986              7
    347074             10

[41823 rows x 1 columns]

In [ ]:
import pandas as pd
data = pd.read_csv("/content/Iris.csv")
print('Iris-setosa')
setosa = data['Species'] == 'Iris-setosa'
print(data[setosa].describe())
print('\nIris-versicolor')
versicolor = data['Species'] == 'Iris-versicolor'
print(data[versicolor].describe())
print('Iris-virginica')
virginica = data['Species'] == 'Iris-virginica'
print(data[virginica].describe())

Iris-setosa
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

Iris-versicolor
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000
Iris-virginica
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000